.button {
    background: #5BC8EF;
    border: 1px solid #5BC8EF;
    border-radius: 35px;
    padding: 20px 30px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    &:hover, 
    &:active{
        background: white;
        color: #5BC8EF;
        box-shadow: 0px 15px 70px rgba(0, 0, 0, 0.15);
        border: 1px solid #5BC8EF;
    }
}

.button_primary{
    color: #5BC8EF;
    background: #FFFFFF;
    box-shadow: 0px 15px 70px rgb(0 0 0 / 15%);
    &:hover, 
    &:active{
        color: #FFFFFF;
        background:  #5BC8EF;
    } 
}