.button {
    border: 1px solid $primary;
    border-radius: 35px;
    padding: 20px 30px;
    background: $primary;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: $text-white;
    &:hover, 
    &:active{
        border: 1px solid $primary;
        box-shadow: 0px 15px 70px rgba(0, 0, 0, 0.15);
        background: white;
        color: $primary;
    }
}

.button_primary{
    box-shadow: 0px 15px 70px rgb(0 0 0 / 15%);
    background: $text-white;
    color: $primary;
    &:hover, 
    &:active{
        background:  $primary;
        color: $text-white;
    } 
}