body{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
}
.container{
    margin: 0 auto;
    max-width: 1420px;
    padding: 0 20px;
}
.span{
    color: #55BBCC;
}