.features {
    padding: 50px 0;
    text-align: center;
    @include _1600 {
        background: url(../img/footprints2.png) top left no-repeat;
        padding: 100px 0 80px 0;
        }
}

.features_inner {
    padding: 0 30px;
}

.features_title {
    max-width: 355px;
    padding-bottom: 50px;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: $text-dark;
    text-transform: uppercase;
    @include _768 {
        max-width: 869px;
        border-left: 4px solid $primary;
        padding-left: 10px;
        padding-bottom: 10px;
        text-align: left;
        font-size: 48px;
        line-height: 65px;
    }
}

.features_text {
    max-width: 306px;
    padding-bottom: 50px;
    color:secondary;
    @include _768 {
        max-width: 847px;
        text-align: left;
    }
}

.features_cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 43px;
    justify-items: center;
    margin-bottom: 43px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: $text-dark;
    @include _768 {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px 60px;
    }
}

.features_card_icon {
    margin-bottom: 19px;
}

.features_card_title {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #455EA7;
    margin-bottom: 9px;
    @include _768 {
    margin-bottom: 10pxpx;
    }
}

.features_card_text {
    max-width: 218px;
}

