.hero {
    background-image: url(../img/pexels-gustavo-fring-6720537\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero_inner {
    padding-top: 120px;
}
.hero_title {
   max-width: 714px ;
}
.h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.hero_text {
    max-width: 596px;
}
.app_store {
}
.hero_img {
}