.testimonials {
    padding: 50px 10px;
    background: #455EA7;
}

.testimonials_info {
    margin-bottom: 33px;
}

.testimonials_title {
    color: #F2F2F2;
}

.testimonials_text {
    color: #F2F2F2;
}

.testimonials_wrapper{
    padding: 0 15px;
    @include _768 {
        padding: 0 25px;
    }
    @include _1024 {
        padding: 0 75px;
    }
    @include _1440 {
        padding: 0 140px;
    }
}

.testimonials_card {
    position: relative;
    border-radius: 12px;
    margin: 22px 0 55px 0;
    padding: 30px 14px;
    box-shadow: 0px 15px 70px rgba(0, 0, 0, 0.15);
    background: $text-white;
    @include _768{
        margin:  0 70px 55px 70px;
    }
}

.testimonials_card::after{
    content: '' ;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    border-top: 24px solid $text-white;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    @include _768{
        border-top: 36px solid $text-white;
        border-left: 24px solid transparent;
        border-right: 24px solid transparent;
    }
}

.testimonials_card_title {
    font-weight: 700;
    font-size: 32px;
    line-height: 30px;
    text-align: center;
    color: #303030;
    @include _768{
        margin-bottom: 15px;
    }
}

.testimonials_card_text {
    font-style: italic;
    text-align: center;
    color: #303030;
}

.testimonials_users {
    max-width: 484px;
    margin: 0 auto;
    padding: 0;
    @include _768 {
        padding: 0 23px;
    }
}

.users_foto {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
}

.slick-current img{
    transform: scale(1.2);
    transition: transform .2s ease;   
 }
 
 .slick-slide img{
   transition: transform .2s ease;   
}

.slick-list{
    padding: 0 !important;
}

.slick-arrow{
    top: calc(50% - 27px);
    width: 38px;
    height: 38px;
    background-size: cover;
    background-repeat: no-repeat;
    @include _768{
        width: 60px;
        height: 60px;
    }
}

.slick-prev{
    background-image: url('../img/chevron-down\ \(3\).png');
    left: -40px;

    &:hover,
    &:focus {
        background-image: url('../img/chevron-down\ \(3\).png');
        background-size: cover;
    }

    @include _768{
        background-image: url('../img/chevron-down\ \(4\).png');

        &:hover,
        &:focus {
            background-image: url('../img/chevron-down\ \(4\).png');
            background-size: cover;
        }
    }
}

.slick-next{
    right: -40px;
    background-image: url('../img/chevron-down\ \(2\).png');

    &:hover,
    &:focus {
        background-image: url('../img/chevron-down\ \(2\).png');
        background-size: cover;
    }

    @include _768{
        background-image: url('../img/chevron-down\ \(5\).png');
        
        &:hover,
        &:focus {
            background-image: url('../img/chevron-down\ \(5\).png');
            background-size: cover;
        }
    }
}

.slick-arrow::before{
    display: none;
}
